#scoreDiv {
    position: absolute;
    display: flex;
    top: 0px;
    right: 10px;
}

#results {
    display: flex;
    justify-content: center;
}

#buttons {
    display: flex;
    position: fixed;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#grats {
    display: flex;
    position: fixed;
    height: 50%;
    width: 100%;
    align-items: center;
    justify-content: center;
}